html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  //background: #222222;
  overflow: hidden;
}
$dots-width: 240px;
$sqrt-root-3: 1.73205;
$skew: -30deg;
$increase-width: 160px;
$triangle-scale:1.5;
body {
  transition: all 1s;
  .showcase-description {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #23303a;
    &:before {
      display: block;
      width: 100%;
      height: 100%;
      background: white;
      transition: all 1s;
      content: "";
    }
  }
}

body {
  &.ready1 {
    .showcase-description {
      &:before {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
      }
    }
    #dots{
      z-index: 1;
    }
    #triangle{
      transform: scale(0.6);
    }
    #dash{
      transform: scale(0.6) skew($skew);
    }
  }
}
body {
  &.ready2 {
    .showcase-description {
      &:before {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
      }
    }
    #dots{
      transform: scale(0.6);
    }
    #triangle{
      z-index: 1;
    }
    #dash{
      transform: scale(0.6) skew($skew);
    }
  }
}

body {
  &.theme1 {
    background: #F62459;
    .showcase-description{
      display: none;
    }
  }
  &.theme2{
    .showcase-description{
      //display: none;
      &:before{
        transform: scale(1) !important;
        //transition: all .5s;
        background: #30ddba;
      }
    }
    #dots,#dash{
      //transition: all .5s;
      opacity: 0;
    }
    #triangle{
      //transition: all .5s;
      //border-bottom-color: #fff;
      transform: scale($triangle-scale);
      .inner{
        border-bottom-color: #fff;
      }
    }
  }
}

nav {
  &:before, &after {
    display: block;
    content: "";
    clear: both;
  }
  position: relative;
  width: 100%;
  height: $dots-width;
  top: 50%;
  margin-top: -$dots-width/2;

  text-align: center;
  .nav-child{
    cursor: pointer;
  }
}

#dots {
  position: absolute;
  width: $dots-width;
  height: $dots-width;
  border-radius: $dots-width;
  background: #F62459;
  left: 50%;
  top: 50%;
  margin-top: -$dots-width/2;
  margin-left: -($dots-width+($dots-width/($sqrt-root-3*2)));
  transition: all 1s;
  overflow: hidden;
  .inner {
    width: 100%;
    height: 100%;

    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
    transform: scale(0.2);
    //transition: all .4s;
    //transition-timing-function: ease-in-out;
  }
  &.focus {
    cursor: default;
    -webkit-transform: scale(5);
    -moz-transform: scale(5);
    -ms-transform: scale(5);
    -o-transform: scale(5);
    transform: scale(5);
    margin-left: -$dots-width/2;
    z-index: 1;
    .inner {
      //background: #222;
      width: $dots-width+$increase-width;
      height: $dots-width+$increase-width;
      margin-left: -$increase-width/2;
      margin-top: -$increase-width/2;
    }
  }
}

#triangle {
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: ($dots-width/$sqrt-root-3);
  border-left-width: ($dots-width/$sqrt-root-3);
  border-bottom: $dots-width solid #30ddba;
  left: 50%;
  margin-left: -($dots-width/$sqrt-root-3);
  transition: all 1s;
  transform-origin: 50% 66%;
  &.focus{
    cursor: default;
  }
  .inner{
    transition: all 2.5s;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: ($dots-width/$sqrt-root-3)*$triangle-scale;
    border-left-width: ($dots-width/$sqrt-root-3)*$triangle-scale;
    border-bottom: $dots-width*$triangle-scale solid transparent;
    margin-left: -($dots-width/$sqrt-root-3)*$triangle-scale;
    transform: scale(1/$triangle-scale);
    transform-origin: 50% 0%;
  }
  #triangle-bg{
    margin-left: -($dots-width/$sqrt-root-3)*$triangle-scale;
    transform-origin: 50% 66%;
    perspective: 1000px;
  }
}

#dash {
  position: absolute;
  width: 30px;
  height: $dots-width;
  -webkit-transform: skew($skew);
  -moz-transform: skew($skew);
  -o-transform: skew($skew);
  background: #F5D76E;
  left: 50%;
  margin-left: ($dots-width)-($dots-width/($sqrt-root-3*2));
  transition: all 1s;
}
.recursive-dot-container{
  float: left;
  position: relative;
  width: 50%;
  height: 50%;
  &:first-of-type{
    width: 100%;
    height:100%;
  }
}
.recursive-dot{
  width: 100%;
  height:100%;
  border-radius: 100%;
  position: absolute;
  left:0;
  top:0;
  transition : all .5s;
}